Flask==0.10.1
Flask-MongoRest==0.1.1
Flask-StatHat==0.1.2
Flask-Testing==0.4.2
Flask-WTF==0.12
Jinja2==2.8
MarkupSafe==0.23
WTForms==2.1
Werkzeug==0.11.4
backports-abc==0.4
flask-mongoengine==0.7.5
gevent==1.0.2
greenlet==0.4.9
grequests==0.3.0
itsdangerous==0.24
mongoengine==0.10.6
pymongo==3.2.1
requests==2.9.1
tornado==4.3
