Flask==0.10.1
Flask-MongoRest==0.1.1
Flask-StatHat==0.1.2
Flask-Testing==0.4.2
Flask-Views==0.2.1
Flask-WTF==0.12
Jinja2==2.8
MarkupSafe==0.23
WTForms==2.1
Werkzeug==0.11.4
argparse==1.2.1
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2015.11.20.1
flask-mongoengine==0.7.5
itsdangerous==0.24
mimerender==0.5.5
mongoengine==0.10.6
pymongo==3.2.1
python-dateutil==2.4.2
python-mimeparse==1.5.1
requests==2.9.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.3
wsgiref==0.1.2
